body{
	background-color: black;
	background-image: url('../images/elegant.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	margin: 0 auto;
	font-size:12px;
	font-family: Sans-serif;
	font-weight:bold;
}
a{
	text-decoration: none;
	a:link {color:#2c6EB0;}      /* unvisited link */
	a:visited {color:#990000;text-decoration:underline;}  /* visited link */
	a:hover {color:#990000;}  /* mouse over link */
	a:active {color:#990000;}  /* selected link */
}
hr{
	clear: both;
	border-top: 1px solid rgb(34, 34, 34);
	border bottom: 1px solid rgb(119,119,119);
	margin: 17px 0 17px;
}
table{
	border: 0px;
	border-collapse: collapse;
	font-size:12px;
}
ul 
{
	list-style-type:square;
}

#container{
	margin: 0 auto 0 auto;
	width: 960px;
	/*height: 100%;*/
	position: relative;
}
#header{
	float: left;
	width:960px;
	/*height: 140px;*/
	/*background-color: rgba(255, 120, 0, 1.0);*/
	background: -webkit-linear-gradient(0deg, rgba(0, 51, 102,0.75), rgba(51, 153, 255,0.75)); /* For Safari */
	background: -o-linear-gradient(0deg, rgba(0, 51, 102,0.75), rgba(51, 153, 255,0.75)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(0deg, rgba(0, 51, 102,0.75), rgba(51, 153, 255,0.75)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(0deg, rgba(0, 51, 102,0.75), rgba(51, 153, 255,0.75)); /* Standard syntax (must be last) */
	
	
}
#logo{
	float: left;
	margin-left: 10px;
}
#navMenu{
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 960px;
	height: 30px;
	/*background: #3399FF;*/
}
.nav{
	margin-left: auto;
	margin-right: auto;
	width:750px;
	margin: 0;
	padding: 0;
	line-height: 30px;
	z-index: 9999999 !important;
}
.nav li{
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	/*background: #3399FF;*/
	z-index: 9999999 !important;
	width: 150px;
	border-radius:6px;
}
.nav li a{
	display: block;
	text-align: center;
	font-family: sans-serif;
	text-decoration: none;
	height: 30px;
	width: 150px;
	display: block;
	color: #FFF;
	font-size: 18px;
	/*border: 1px solid #FFF;*/
	text-shadow: 1px 1px 1px #000;
}
.nav ul{
	position: absolute;
	visibility: hidden;
	top: 30px;
}
.nav li:hover ul li{
	visibility: visible;
	background: -webkit-linear-gradient(0deg, #003366, #3399FF); /* For Safari */
	background: -o-linear-gradient(0deg, #003366, #3399FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(0deg,#003366, #3399FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(0deg, #003366, #3399FF); 
}

#navMenu li:hover{
	/*background-color: #09F;*/
	color: #000;
}
.nav li:hover ul li a:hover{
	background: -webkit-linear-gradient(0deg, #FF7800, #FFB573); /* For Safari */
	background: -o-linear-gradient(0deg, #FF7800, #FFB573); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(0deg, #FF7800, #FFB573); /* For Firefox 3.6 to 15 */
	background: linear-gradient(0deg, #FF7800, #FFB573); /* Standard syntax (must be last) */
	border-radius: 6px;
	color: #000;
}
#navMenu a:hover{
	color: #000;
}
#slideContainer{
	position: relative;
	width:960px;
	float: left;
	margin-bottom: 30px;
}
#content{
	border-radius: 6px;
	float: left;
	width: 960px;
	font-family: sans-serif;
	background:rgba(255, 204, 153, 0.75);
	margin-bottom: 30px;
	/*padding:0 25px 25px;*/
	/*
	#FF7800, #FFB573
	rgba(255, 120, 00, 0.75)
	rgba(255, 181, 115, 0.50)*/
}
#content h1, #content h2{
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top:auto;
	text-shadow: 1px 1px 3px #000;
}
#business{
	position: relative;
	width:920px;
	margin:0 20px 0;
	clear: both;

}
#leftHead{
	width: 440px;
	margin-top: 10px;
	float: left;
	position: relative;
	margin-right: 20px;
	/*margin-left: 20px;*/
}
#lefthead h1{
	/*max-width: 440px;*/
 font-size: 30px;
 font-weight: bold;
 text-align: center;
}
#cwinfo{
	width: 440px;
	float: left;
	position: relative;
	/*margin-right: 17px;*/
	margin-left: 20px;
}

#sideNav{
	border-radius: 6px;
	float: left;
	width: 160px;
	font-family: sans-serif;
	background:rgba(0, 51, 102,0.75);
	margin-bottom: 30px;
	/*padding:0 25px 25px;*/
	/*
	#FF7800, #FFB573
	rgba(255, 120, 00, 0.75)
	rgba(255, 181, 115, 0.50)*/
}
#contentRight{
	border-radius: 6px;
	float: right;
	width: 480px;
	height: 600px;
	font-family: sans-serif;
	background:rgba(255, 204, 153, 0.75);
	margin-bottom: 30px;
	/*padding:0 25px 25px;*/
	/*
	#FF7800, #FFB573
	rgba(255, 120, 00, 0.75)
	rgba(255, 181, 115, 0.50)*/
}
#contentRight h1{
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 1px 1px 3px #000;
}

#contentLeft{
	border-radius: 6px;
	float: left;
	width: 480px;
	height: 600px;
	font-family: sans-serif;
	font-weight: bold;
	background:rgba(255, 204, 153, 0.75);
	margin-bottom: 30px;
	/*padding:0 25px 25px;*/
	/*
	#FF7800, #FFB573
	rgba(255, 120, 00, 0.75)
	rgba(255, 181, 115, 0.50)*/
}
#contentLeft h1{
	font-family: sans-serif;
	margin-left: auto;
	margin-right: auto;
	max-width: 140px;
	text-shadow: 1px 1px 1px #000;
}
#details{
	border-radius: 6px;
	width: 960px;
	font-family: sans-serif;
	margin-bottom: 30px;
	/*padding:0 25px 25px;*/
	/*
	#FF7800, #FFB573
	rgba(255, 120, 00, 0.75)
	rgba(255, 181, 115, 0.50)*/
}
#leftdetails{
	float: left;
	max-width: 480px;
	margin-left: 10px;
	background-color: #FFB573;
}
#productlist{
	width: 920px;
	padding:0 20px 20px;
	margin-bottom: 20px;
}
#productlist ul{
	list-style: none outside none;
	padding: 0;
}
li.first{
	float: left;
	width:215px;
	margin: 0 10px 20px;
}
#firstList{
	margin: 0 0 0 10px;
}
#lastList{
	margin: 0 10px 0 0;
}
li.first img{
	margin: 0px 0px -5px 0px;
}

.prodparagragh{
	float: left;
	color: #FFF;
	width: 215px;
	height: 74px;
	font-size: 18px;
	font-weight: bold;
	background: #000;
	border-radius: 0px 0px 10px 1px;
	text-align: center;
	/*line-height: 74px;*/

}
.prodparagragh ol{
	list-style-position: inline;
	font-size: 12px;
	-webkit-padding-start: 20px;
}
#embed{
	text-align: left;
	width: 200px;
	margin-left: 0px;
	margin-right: 0;
}
/*styles for product page*/
#catalogue{
	width: 910px;
	padding:0 25px 51px;
	color: rgb(255,255,255);
}
#catalogue ul{
	list-style: none outside none;
	padding: 0;
}
#catalogue li{
	margin:0 51px 20px 51px;
	width:353px;
}
#catalogue li p{
	position: relative;
	border-radius: 0px 0px 10px 1px;
	border: 1px solid rgba(255,255,255, 0.2);
	background-color: rgba(0,0,0,0.9);
	color: rgb(255,255,255);
	padding: 2px 5px 2px 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.9);
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
}
#catalogue li img{
	position: relative;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s ease;
	margin: 0px 0px -30px 0px;
	z-index: 0;
}
#catalogue li img:hover{
	opacity: 1.0;
}
#catalogue li a{
	border:none;

}

.gridStyle{
     border-right: 2px solid #A7A6AA;
    border-bottom: 2px solid #A7A6AA;
    border-left: 2px solid white;
    border-top: 2px solid white;
    padding: 4px;
}
.cars{
	float: left;
	width:193px;
}
/*footer section*/
#footer{
	width: 960px;
	color: #000;
	padding: 0;
	position: relative;
	border-radius: 6px;
	float: left;
	font-family: sans-serif;
	background:rgba(235, 234, 233, 0.75);
}


ul.flist{
	list-style: none outside none;
	padding: 0;

	/*list-style-type: none;*/
	/*margin: 0;*/
}
ul.flist p{
	font-weight: bold;
}
ul.flist li{
	margin-left: 10px;
	margin-right: 10px;
	width: 215px;
	float: left;
	position: relative;

}
ul.flist li h4{
	margin: 0;
}
ul.flist li hr{
	margin: 5px 0 5px;
}

ul.flist li.firstLi{
	width: 215px;
	float: left;
	position: relative;
	margin-left: 20px;
	margin-right:10px;
}
ul.flist li.lastLi{
	width: 215px;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right:20px;
}
ul.secondLi{
	list-style: none outside none;
	padding: 0;

	/*list-style-type: none;*/
	/*margin: 0;*/
}



/*Admin page*/
#adminSection{
	width: 920px;
	float: left;
	position: relative;
	margin: 0 20px 0;
}
#adminSection h1{
	display: inline-block;
	max-width: 460px;

}
#buttonArea{
	position: relative;
	float: right;
	width:150px;
}
.addButton{
	display: inline-block;
	background: -webkit-linear-gradient(0deg, #FF7800, #FFB573); /* For Safari */
	background: -o-linear-gradient(0deg, #FF7800, #FFB573); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(0deg, #FF7800, #FFB573); /* For Firefox 3.6 to 15 */
	background: linear-gradient(0deg, #FF7800, #FFB573); /* Standard syntax (must be last) */
	position: relative;
	margin: 30px 10px;
	width:100px;
	height: 30px;
	border: 1px solid black;
	border-radius:6px;
	text-align: center;
	text-indent: 0;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	color: #000;
	box-shadow: 1px 1px 1px rgba(0,0,0,1.0);
}
.addButton:hover{
	background: -webkit-linear-gradient(0deg, rgba(0, 51, 102,1.0), rgba(51, 153, 255,1.0)); /* For Safari */
	background: -o-linear-gradient(0deg, rgba(0, 51, 102,1.0), rgba(51, 153, 255,1.0)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(0deg, rgba(0, 51, 102, 1.0), rgba(51, 153, 255, 1.0)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(0deg, rgba(0, 51, 102, 1.0), rgba(51, 153, 255, 1.0)); /* Standard syntax (must be last) */
	color: #fff;
}
#productsTable{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}
#productsTable th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#FF9966;
color:#3399FF;
}
#productsTable td, #productsTable th{
	font-size: 1em;
	border: 1px solid #FF9966;
}
#productsTable tr.alternative td{
	background: #FFF;
	color: #000;
}
/*support section*/
#supportSection{
	width: 920px;
	float: left;
	position: relative;
	margin: 0 20px 10px;
}
#supportSection a{
	color: #3399FF;
}
#supportSection a:hover{
	color: #FF9966;
}
#supportSection hr{
	margin-top: 0;
}
#supportSection ol a{
	color: #003366;
	font-size: 18px;
}
#supportSection p{
	font-size: 18px;
}
/*sitemap section*/
#siteSection{
	width: 920px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	position: relative;
}
#siteSection h1{
	margin-top: 10px;
	margin-bottom: 10px;
}
#siteSection hr{
	margin-top: 0px;
	margin-bottom: 10px;
}
#siteM{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}
#siteM th{
	text-decoration: underline;
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#FF9966;
	color:#3399FF;
}
#siteM td{
	padding: 15px;
	font-size: 1.1em;
}
